# Student Data scraping

In [11]:
import pandas as pd

df      = pd.read_excel('College_Students.xlsx')


data    = list( df.iloc[ 3   : 82  ,1 : 4].values )
data   += list( df.iloc[ 88  : 161 ,1 : 4].values )
data   += list( df.iloc[ 166 : 214 ,1 : 4].values )
data   += list( df.iloc[ 220 : 322 ,1 : 4].values )

data   += list( df.iloc[ 327 : 374 ,1 : 4].values )
data   += list( df.iloc[ 379 : 456 ,1 : 4].values )
data   += list( df.iloc[ 461 : 527 ,1 : 4].values )
data   += list( df.iloc[ 532 : 541 ,1 : 4].values )

data   += list( df.iloc[ 546 : 591 ,1 : 4].values )
data   += list( df.iloc[ 596 : 632 ,1 : 4].values )
data   += list( df.iloc[ 637 : 697 ,1 : 4].values )
data   += list( df.iloc[ 702 : 721 ,1 : 4].values )


df      = pd.read_excel('College_Students.xlsx', sheet_name = 1)


data   += list( df.iloc[ 3   : 139 ,1 : 4] .values )
data   += list( df.iloc[ 144 : 178 ,1 : 4].values )
data   += list( df.iloc[ 183 : 303 ,1 : 4].values )
data   += list( df.iloc[ 702 : 721 ,1 : 4].values )

columns =       df.iloc[ 2         ,1 : 4].values

df      = pd.DataFrame(data, columns = columns)


def grad_year( branch ):
    
    year      = { 'TE': 23 , 'BE': 22 , 'SE': 24 }
    data      = branch.split(' ')[0]
    return      2000 + year[data]
    
def degree( branch ):
    degree_name      = { 'comp' : '( Computer Engineering )'   ,
                         'it'   : '( Information Technology )' , 
                         'elex' : '( Electronics & Electrical Engineering )',
                         'extc' : '( Electronics & Telecommunication Engineering )' }
    
    name             =  branch.split(' ')[1].lower()
    return              'BE ' + degree_name[name]
    
    
df['Graduation year'] = df['Branch'].apply(grad_year)
df['degree'         ] = df['Branch'].apply(degree   )

del df['Branch']

students = {}
for student in df.values:
    
    students[ student[0] ] = {
        'name'            : student[1],
        'graduation year' : student[2],
        'degree'          : student[3],
        'issued'          : {}
    }

import json as js
import os

# write dictionary data into json file 
def write_file(var, name = 'book' ):
    
    # writing extension of file as .json
    name += 's.json'
    
    # Opening json file in write mode
    fw    = open( name ,'w')

    # Dumping dictionary into json file  
    fw.write(js.dumps(var))

    # Closing the file
    fw.close()

write_file(students,'student')

df.head()

,ROLL NO,NAME OF STUDENTS,Graduation year,degree
0,VU1F1819009,GITE NAYAN KANTILAL SHEELA,2023,BE ( Computer Engineering )
1,VU1F1819050,KAMBLE ANTARIKSH SUSHIL MRUNAL,2023,BE ( Computer Engineering )
2,VU1F1819053,KUDEKAR VEDICA SITARAM SUREKHA,2023,BE ( Computer Engineering )
3,VU1F1819067,TARKAR SARVADNYA AMRUT BHAVANA,2023,BE ( Computer Engineering )
4,VU1F1920001,KULKARNI SHRAVANI SANDESH MANJIRI,2023,BE ( Computer Engineering )

In [ ]:
l

In [8]:
import os
os.listdir()

['.ipynb_checkpoints',
 'College_Students.xlsx',
 'Data Scraping.ipynb',
 'Major Project - 2.ipynb']