# Write a program to create a dictionary with product id as the key and product details as values for inventory management system

* **Detail Structure of Product in Dictionary**
```python
 { key --> product_id : values --> [ product_name, category, price, quantity, discount ] }
```

## Importing Libraries

In [6]:
import json as js
import numpy as np
import pandas as pd

## **Read and Write function from Json Files**

In [2]:
# reads records.json file and return dictionary 

def read_file():
    
    # Opening records.json file in read mode
    fw = open('records.json','r')
    
    # Loading json file into dictionary
    r = js.loads(fw.read())
    
    # Closing the file
    fw.close()
    
    # Return dictionary
    return r

In [ ]:
#Write records.json file for given dictionaty input 

def write_file(var):
    
    # Opening records.json file in write mode
    fw = open('records.json','w')
    
    # Dumping dictionary into json file  
    fw.write(js.dumps(var))
    
    # Closing the file
    fw.close()

## **Product view of IMS**

In [19]:
def product_views():
    
    # Dictionary for view creation of product details
    view = { i : [] for i in ['Id','Name', 'Category', 'Price', 'Quantity', 'Discount'] }
    
    # Read Product Details
    products = read_file()
    
    # Loop for every id of products
    for id_ in products.keys():
        
        # Getting list of product detail throung id
        product = data[ id_ ]
        
        # Getting 'Name', 'Category', 'Price', 'Quantity', 'Discount' from each product
        Name = product[0]        
        Category = product[1]
        Price = product[2]
        Quantity = product[3]
        Discount = product[4]
        
        # Loading it in view 
        view['Id'].append(id_)
        view['Name'].append(Name)
        view['Category'].append(Category)
        view['Price'].append(Price)
        view['Quantity'].append(Quantity)
        view['Discount'].append(Discount)
    
    return pd.DataFrame( view ) # Return DataFrame format
        
product_views()

********************************************************************************

     Id              Name    Category  Price  Quantity  Discount
0   100        dairy milk   chocalate     25        10        10
1   101            5-star   chocalate     15         6         5
2   102           kit-kat   chocalate     20        30        15
3   103           parle-G     Biscuit     10       996         0
4   104            MONACO     Biscuit      5      1076         0
5   105             TIGER     Biscuit      5     10788         0
6   106        MARIE-GOLD     Biscuit     10     10443         0
7   107        MARIE-LITE     Biscuit     10      1087         5
8   108             50-50     Biscuit      5      1098         0
9   109             20-20     Biscuit      5      1000         0
10  110              OREO     Biscuit     25      2000         0
11  111        PARLE-GOLD     Biscuit     20       460         0
12  112             MAZHA  soft drink     25       890         0
13  113          THUMS-UP  soft drink     25      2350         0
14  114           MIRINDA  soft drink     25      1200        15
15  115     VANILA FLEVER    icecream     20      2349        30
16  116      MANGO FLEVER    icecream     20      7890         4
17  117  CHOCALATE FLEVER    icecream     20      1230         5
18  118           KURKURE       snake     10      4560         6
19  119          TAKA-TAK       snake     10      1000         6
20  120       TEDHE-MEDHE       snake     10      1010         1
21  121            MAGGIE       snake     10      1500        18
22  122       UNCLE-CHIPS       snake     10       500        21
23  123      TOMATO-CHIPS       snake     10       600        13
24  124            FRUITI  soft drink     25       700         0
25  125            SPIRIT  soft drink     25      8000        10
26  126           CADBURY   chocalate     25      5689        10
27  127            GALAXY   chocalate     25      1230        10
28  128            NESTLE   chocalate     25      1483        10
29  129              AMUL   chocalate     25      6500        10
30  130      FERRO ROCHER   chocalate     25        10        10
31  131           HERSHEY   chocalate     25        10        10
32  132            ECLAIR   chocalate      2       100         0

## **Add new product in Inventory**

In [33]:
def add_product():
    
    data = read_file()
    
    id_list = list( data.keys() )
    
    last_id = np.array( id_list , dtype=int ).max()
    
    new_id = str( last_id + 1 )
    
    print( '*' * 40, 'Adding new product in Inventory', '-' * 40, sep='\n' )
    
    Name     = input('Enter the Name: ')       
    Category = input('Enter the Category: ')
    Price    = input('Enter the Price: ')
    Quantity = input('Enter the Quantity: ')
    Discount = input('Enter the Discount: ')
    
    print( '*' * 40 )
    
    data[new_id] = [ Name, Category, Price, Quantity, Discount ]
    
    write_file()

In [32]:
np.array(read_file().keys(),dtype=int)

********************************************************************************

TypeError: int() argument must be a string, a bytes-like object or a number, not 'dict_keys'