# IMDB Movie Recommendation 
# Make a Recommendation System from final.csv dataset

### 1. Ask from the user to select a movie

### 2. Find the directors of the movie that user has selected

### 3. Recommend them top 10 movies based on the directors of the movie that user has selected

### 4. Also recommend the movies based on the name of the movie (you need to perform one hot encoding on name column of the dataset and finding the similarity) for example The Godfather and The Godfather - II

## Import Library

In [1]:
import pandas as pd
import warnings

from tqdm import tqdm 

warnings.filterwarnings("ignore")

## Loading Dataset

In [2]:
df = pd.read_csv('final.csv')
df.head()

,name,year,duration,genre,rating,director,type
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie
1,The Godfather,1972,175,"Crime,Drama",9.2,Francis Ford Coppola,Movie
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,Christopher Nolan,Movie
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie
4,12 Angry Men,1957,96,"Crime,Drama",9.0,Sidney Lumet,Movie

## One hot encoding on Directors

In [3]:
directors = []
for director in df['director'].unique():
    directors += director.split(',')

directors = list(set(directors))


dr_encoding = []

for director in tqdm(df['director']):
    
    temp = [ 0 ] * len(directors)
    
    for each in director.split(','):
        
        temp[ directors.index(each) ] = 1
    
    dr_encoding.append(temp)

df[directors] = dr_encoding

df.head()

100%|███████████████████████████████████████████████████████████████████████████| 1250/1250 [00:00<00:00, 48072.03it/s]

,name,year,duration,genre,rating,director,type,Alan Parker,Mathew Valencia,Matthew Warchus,...,Jean Smart,Steven Pacey,Paul McGuigan,Jennifer Ehle,Brendan Hunt,Edgar Wright,Robert Zemeckis,Jason Ritter,David Mickey Evans,Robert Duvall
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,175,"Crime,Drama",9.2,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,Christopher Nolan,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,1957,96,"Crime,Drama",9.0,Sidney Lumet,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## One hot encoding on Names

In [4]:
def steming(text):
    
    text = text.replace(':','')
    
    return text


names = []
for name in df['name'].unique():
    names += [steming(i)  for i in name.split()]

names = list(set(names))
    
name_encoding = []

for name in tqdm(df['name']):
    
    temp = [ 0 ] * len(names)
    
    for each in name.split():
        each = each.replace(':','')
        temp[ names.index(each) ] = 1
    
    name_encoding.append(temp)

df[names] = name_encoding

df.head()

100%|███████████████████████████████████████████████████████████████████████████| 1250/1250 [00:00<00:00, 18657.94it/s]

,name,year,duration,genre,rating,director,type,Alan Parker,Mathew Valencia,Matthew Warchus,...,Ring,211,Always,Zombieland,Return,Taare,13,Naa,Jedi,Verdict
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,175,"Crime,Drama",9.2,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,Christopher Nolan,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,1957,96,"Crime,Drama",9.0,Sidney Lumet,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 1. Ask from the user to select a movie

### 2. Find the directors of the movie that user has selected

### 3. Recommend them top 10 movies based on the directors of the movie that user has selected

In [5]:
# Program for choice return choice or False for invalid input 
def choices(limit):
    
    # Taking input of choice from user
    choice = input('Enter your choice number: ')
    
    # try block to catch error for int function
    try:
        
        # convert str to int if error then go to except block
        choice = int(choice)
        
        # valid choice and return choice as o/p
        if 0 < choice <= limit:
            return choice
        
        # invalid choice and return False as o/p
        else :
            print('Enter valid number try again ....')
            print('-'*40)
            return False
        
    # except block for int errors and return False as o/p
    except:
        print('Invalid input try again ....')
        print('-'*40)
        return False

def listmovie(search):
    
    names = []
    for name in df['name']:
        if search in name.lower() or name.lower() in search:
            names.append(name)
            
            
    if names != []:     
        while True:
            print('-'*80)
            print('Select your movie from below')

            for sr , name in enumerate(names,1):
                print(sr,name)

            choice = choices(len(names))

            if choice:
                names = names[choice-1]
                break

        return df[df['name'] == names]
    else:
        return False

In [6]:
def recommendation_view(movie,based ,sep = ' '):
    
    recommend_pts = []
    
    
    if type(movie) != bool:
        
        data        = df[df.columns[:7]]
        data['ref'] = [0] * df.shape[0]
        
        for each in movie[based].split(sep):
            each         = steming(each)
            data['ref'] += df[each]
        
        data        = data[data['ref']>0]
        
        main        = data[data['name'] == movie['name']]
        
        data        = data[data['name'] != movie['name']]
        
        data        = data.sort_values(by='ref',ascending= False).head(10)
        
        data        = pd.concat([main, data], axis = 0)
        
        return data
            
    else:
        return 'Movie not Found'
    
name = input('Enter the movie name: ')

movie = df[df['name'] == name]

if movie.size == 0:
    movie = listmovie(name.lower())

movie = movie.iloc[0,:7]

recommendation_view(movie,'director',',')

Enter the movie name: Ran

,name,year,duration,genre,rating,director,type,ref
172,Ran,1985,162,"Action,Drama,War",8.2,Akira Kurosawa,Movie,1
31,Shichinin no samurai,1954,207,"Action,Adventure,Drama",8.6,Akira Kurosawa,Movie,1
77,Tengoku to jigoku,1963,143,"Crime,Drama,Mystery",8.4,Akira Kurosawa,Movie,1
121,Ikiru,1952,143,Drama,8.3,Akira Kurosawa,Movie,1
181,Yôjinbô,1961,110,"Action,Drama,Thriller",8.2,Akira Kurosawa,Movie,1
189,Rashômon,1950,88,"Crime,Drama,Mystery",8.2,Akira Kurosawa,Movie,1
294,Sanjuro,1962,96,"Action,Comedy,Crime",8.1,Akira Kurosawa,Movie,1
301,Kakushi-toride no san-akunin,1958,139,"Adventure,Drama",8.1,Akira Kurosawa,Movie,1
303,Kumonosu-jô,1957,110,"Drama,History",8.1,Akira Kurosawa,Movie,1
412,Kagemusha,1980,180,"Drama,History,War",8.0,Akira Kurosawa,Movie,1

## Recommend the movies based on the name of the movie (you need to perform one hot encoding on name column of the dataset and finding the similarity) for example The Godfather and The Godfather - II

In [7]:
name = input('Enter the movie name: ')

movie = df[df['name'] == name]

if movie.size == 0:
    movie = listmovie(name.lower())

movie = movie.iloc[0,:7]

recommendation_view(movie,'name')

Enter the movie name: Star
--------------------------------------------------------------------------------
Select your movie from below
1 Star Wars: Episode V - The Empire Strikes Back
2 Star Wars
3 Star Wars: Episode VI - Return of the Jedi
4 Star Wars: Episode VII - The Force Awakens
5 Star Trek
6 The Fault in Our Stars
7 Rockstar
8 Star Trek Into Darkness
9 Star Trek II: The Wrath of Khan
10 A Star Is Born
11 Stardust
12 Battlestar Galactica
13 Star Trek: The Next Generation
14 Battlestar Galactica
Enter your choice number: 3

,name,year,duration,genre,rating,director,type,ref
109,Star Wars: Episode VI - Return of the Jedi,1983,131,"Action,Adventure,Fantasy",8.3,Richard Marquand,Movie,9
16,Star Wars: Episode V - The Empire Strikes Back,1980,124,"Action,Adventure,Fantasy",8.7,Irvin Kershner,Movie,4
477,Star Wars: Episode VII - The Force Awakens,2015,138,"Action,Adventure,Sci-Fi",7.9,J.J. Abrams,Movie,4
5,The Lord of the Rings: The Return of the King,2003,201,"Action,Adventure,Drama",8.9,Peter Jackson,Movie,3
1118,Kôdo giasu - Hangyaku no rurûshu: Code Geass -...,2006,24,"Animation,Action,Drama",8.6,"Jun Fukuyama,Takahiro Sakurai,Johnny Yong Bosch",Series,3
832,Empire of the Sun,1987,153,"Action,Drama,History",7.7,Steven Spielberg,Movie,2
339,Guardians of the Galaxy,2014,121,"Action,Adventure,Comedy",8.0,James Gunn,Movie,2
376,Pirates of the Caribbean: The Curse of the Bla...,2003,143,"Action,Adventure,Fantasy",8.0,Gore Verbinski,Movie,2
898,Dawn of the Planet of the Apes,2014,130,"Action,Adventure,Drama",7.6,Matt Reeves,Movie,2
665,Batman: Mask of the Phantasm,1993,76,"Animation,Action,Crime",7.8,Kevin Altieri,Movie,2
426,Planet of the Apes,1968,112,"Adventure,Sci-Fi",8.0,Franklin J. Schaffner,Movie,2