# IMDB Movie Recommendation 
# Make a Recommendation System from final.csv dataset

### 1. Ask from the user to select a movie

### 2. Find the directors of the movie that user has selected

### 3. Recommend them top 10 movies based on the directors of the movie that user has selected

### 4. Also recommend the movies based on the name of the movie (you need to perform one hot encoding on name column of the dataset and finding the similarity) for example The Godfather and The Godfather - II

## Import Library

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Loading Dataset

In [2]:
df = pd.read_csv('final.csv')
df.head()

,name,year,duration,genre,rating,director,type
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie
1,The Godfather,1972,175,"Crime,Drama",9.2,Francis Ford Coppola,Movie
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,Christopher Nolan,Movie
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie
4,12 Angry Men,1957,96,"Crime,Drama",9.0,Sidney Lumet,Movie

## One hot encoding on Directors

In [3]:
directors = []
for director in df['director'].unique():
    directors += director.split(',')

directors = list(set(directors))


dr_encoding = []

for director in df['director']:
    
    temp = [ 0 ] * len(directors)
    
    for each in director.split(','):
        
        temp[ directors.index(each) ] = 1
    
    dr_encoding.append(temp)

df[directors] = dr_encoding

df.head()

,name,year,duration,genre,rating,director,type,Elizabeth White,Aaron Dismuke,Roberto Benigni,...,Laurent Vernin,Marc Webb,Vincent Paronnaud,Susanne Bier,Jamie Bamber,Courtney Henggeler,Christopher Morris,Ã‡agan Irmak,Alexander Ludwig,Michelle Ruff
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,175,"Crime,Drama",9.2,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,Christopher Nolan,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,1957,96,"Crime,Drama",9.0,Sidney Lumet,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## One hot encoding on Names

In [4]:
names = []
for name in df['name'].unique():
    names += name.split()

names = list(set(names))


for i in range(len(names)):
    names[i] = names[i].replace(':','')
    

name_encoding = []

for name in df['name']:
    
    temp = [ 0 ] * len(names)
    
    for each in name.split():
        each = each.replace(':','')
        temp[ names.index(each) ] = 1
    
    name_encoding.append(temp)

df[names] = name_encoding

df.head()

,name,year,duration,genre,rating,director,type,Elizabeth White,Aaron Dismuke,Roberto Benigni,...,Virginia,il,Gegen,Seite,dolce,Insider,Taare,by,Gyeoul,Almost
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,175,"Crime,Drama",9.2,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,Christopher Nolan,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,1957,96,"Crime,Drama",9.0,Sidney Lumet,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 1. Ask from the user to select a movie

### 2. Find the directors of the movie that user has selected

### 3. Recommend them top 10 movies based on the directors of the movie that user has selected

In [5]:
# Program for choice return choice or False for invalid input 
def choices(limit):
    
    # Taking input of choice from user
    choice = input('Enter your choice number: ')
    
    # try block to catch error for int function
    try:
        
        # convert str to int if error then go to except block
        choice = int(choice)
        
        # valid choice and return choice as o/p
        if 0 < choice <= limit:
            return choice
        
        # invalid choice and return False as o/p
        else :
            print('Enter valid number try again ....')
            print('-'*40)
            return False
        
    # except block for int errors and return False as o/p
    except:
        print('Invalid input try again ....')
        print('-'*40)
        return False

In [6]:
def listmovie(search):
    
    names = []
    for name in df['name']:
        if search in name.lower() or name.lower() in search:
            names.append(name)
            
            
    if names != []:     
        while True:
            print('-'*80)
            print('Select your movie from below')

            for sr , name in enumerate(names,1):
                print(sr,name)

            choice = choices(len(names))

            if choice:
                names = names[choice-1]
                break

        return df[df['name'] == names]
    else:
        return False

listmovie('godfather')

--------------------------------------------------------------------------------
Select your movie from below
1 The Godfather
2 The Godfather: Part II
3 Her
4 The Godfather: Part III
Enter your choice number: 2

,name,year,duration,genre,rating,director,type,Elizabeth White,Aaron Dismuke,Roberto Benigni,...,Virginia,il,Gegen,Seite,dolce,Insider,Taare,by,Gyeoul,Almost
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
def recommendation_view(movie,based ,sep = ' '):
    
    recommend_pts = []
    
    
    if type(movie) != bool:
        
        data        = df[df.columns[:7]]
        data['ref'] = [0] * df.shape[0]
        
        for each in movie[based].values[0].split(sep):
            each         = each.replace(':','')
            data['ref'] += df[each]
        
        data        = data[data['ref']>0]
        
        data        = data[data[based] != movie[based].values[0]]
        
        data        = data.sort_values(by='ref',ascending= False).head(10)
        
        data        = pd.concat([movie[df.columns[:7]], data], axis = 0)
        
        return data
            
    else:
        return 'Movie not Found'
    
name = input('Enter the movie name: ')

movie = df[df['name'] == name]

if movie.size == 0:
    movie = listmovie(name.lower())


recommendation_view(movie,'director',',')

Enter the movie name: Avatar

,name,year,duration,genre,rating,director,type,ref
623,Avatar,2009,162,"Action,Adventure,Fantasy",7.8,James Cameron,Movie,NaN

In [19]:
name = input('Enter the movie name: ')

movie = df[df['name'] == name]

if movie.size == 0:
    movie = listmovie(name.lower())


recommendation_view(movie,'name')

Enter the movie name: star
--------------------------------------------------------------------------------
Select your movie from below
1 Star Wars: Episode V - The Empire Strikes Back
2 Star Wars
3 Star Wars: Episode VI - Return of the Jedi
4 Star Wars: Episode VII - The Force Awakens
5 Star Trek
6 The Fault in Our Stars
7 Rockstar
8 Star Trek Into Darkness
9 Star Trek II: The Wrath of Khan
10 A Star Is Born
11 Stardust
12 Battlestar Galactica
13 Star Trek: The Next Generation
14 Battlestar Galactica
Enter your choice number: 1

,name,year,duration,genre,rating,director,type,ref
16,Star Wars: Episode V - The Empire Strikes Back,1980,124,"Action,Adventure,Fantasy",8.7,Irvin Kershner,Movie,NaN
477,Star Wars: Episode VII - The Force Awakens,2015,138,"Action,Adventure,Sci-Fi",7.9,J.J. Abrams,Movie,4.0
109,Star Wars: Episode VI - Return of the Jedi,1983,131,"Action,Adventure,Fantasy",8.3,Richard Marquand,Movie,3.0
1109,Star Trek: The Next Generation,1987,44,"Action,Adventure,Mystery",8.6,"Patrick Stewart,Brent Spiner,Jonathan Frakes",Series,2.0
839,Star Trek II: The Wrath of Khan,1982,113,"Action,Adventure,Sci-Fi",7.7,Nicholas Meyer,Movie,2.0
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie,1.0
852,The French Connection,1971,104,"Action,Crime,Drama",7.7,William Friedkin,Movie,1.0
785,The Magdalene Sisters,2002,114,Drama,7.7,Peter Mullan,Movie,1.0
807,The Fifth Element,1997,126,"Action,Adventure,Sci-Fi",7.7,Luc Besson,Movie,1.0
819,The Muppet Christmas Carol,1992,85,"Comedy,Drama,Family",7.7,Brian Henson,Movie,1.0
821,The Last of the Mohicans,1992,112,"Action,Adventure,Drama",7.7,Michael Mann,Movie,1.0