# IMDB Movie Recommendation 
# Make a Recommendation System from final.csv dataset

### 1. Ask from the user to select a movie

### 2. Find the directors of the movie that user has selected

### 3. Recommend them top 10 movies based on the directors of the movie that user has selected

### 4. Also recommend the movies based on the name of the movie (you need to perform one hot encoding on name column of the dataset and finding the similarity) for example The Godfather and The Godfather - II

## Import Library

In [19]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Loading Dataset

In [20]:
df = pd.read_csv('final.csv')
df.head()

,name,year,duration,genre,rating,director,type
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie
1,The Godfather,1972,175,"Crime,Drama",9.2,Francis Ford Coppola,Movie
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,Christopher Nolan,Movie
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie
4,12 Angry Men,1957,96,"Crime,Drama",9.0,Sidney Lumet,Movie

## One hot encoding on Directors

In [21]:
directors = []
for director in df['director'].unique():
    directors += director.split(',')

directors = list(set(directors))


dr_encoding = []

for director in df['director']:
    
    temp = [ 0 ] * len(directors)
    
    for each in director.split(','):
        
        temp[ directors.index(each) ] = 1
    
    dr_encoding.append(temp)

df[directors] = dr_encoding

df.head()

,name,year,duration,genre,rating,director,type,Roger Allam,Cheryl Hines,Si√¢n Phillips,...,Michelle Mylett,Rich Moore,Zack Snyder,James Frawley,Lewis Milestone,Gareth Edwards,Ron Howard,Andrey Zvyagintsev,Maile Flanagan,Mandy Moore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,175,"Crime,Drama",9.2,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,Christopher Nolan,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,1957,96,"Crime,Drama",9.0,Sidney Lumet,Movie,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## One hot encoding on Names

In [ ]:
def steming(text):
    
    text = text.replace(':','')
    
    return text


names = []
for name in df['name'].unique():
    names += [steming(i)  for i in name.split()]

names = list(set(names))
    
name_encoding = []

for name in df['name']:
    
    temp = [ 0 ] * len(names)
    
    for each in name.split():
        each = each.replace(':','')
        temp[ names.index(each) ] = 1
    
    name_encoding.append(temp)

df[names] = name_encoding

df.head()

### 1. Ask from the user to select a movie

### 2. Find the directors of the movie that user has selected

### 3. Recommend them top 10 movies based on the directors of the movie that user has selected

In [ ]:
# Program for choice return choice or False for invalid input 
def choices(limit):
    
    # Taking input of choice from user
    choice = input('Enter your choice number: ')
    
    # try block to catch error for int function
    try:
        
        # convert str to int if error then go to except block
        choice = int(choice)
        
        # valid choice and return choice as o/p
        if 0 < choice <= limit:
            return choice
        
        # invalid choice and return False as o/p
        else :
            print('Enter valid number try again ....')
            print('-'*40)
            return False
        
    # except block for int errors and return False as o/p
    except:
        print('Invalid input try again ....')
        print('-'*40)
        return False

def listmovie(search):
    
    names = []
    for name in df['name']:
        if search in name.lower() or name.lower() in search:
            names.append(name)
            
            
    if names != []:     
        while True:
            print('-'*80)
            print('Select your movie from below')

            for sr , name in enumerate(names,1):
                print(sr,name)

            choice = choices(len(names))

            if choice:
                names = names[choice-1]
                break

        return df[df['name'] == names].iloc[0,:7]
    else:
        return False

listmovie('godfather')

In [ ]:
def recommendation_view(movie,based ,sep = ' '):
    
    recommend_pts = []
    
    
    if type(movie) != bool:
        
        data        = df[df.columns[:7]]
        data['ref'] = [0] * df.shape[0]
        
        for each in movie[based].split(sep):
            each         = steming(each)
            data['ref'] += df[each]
        
        data        = data[data['ref']>0]
        
        main        = data[data[based] == movie[based]]
        
        data        = data[data[based] != movie[based]]
        
        data        = data.sort_values(by='ref',ascending= False).head(10)
        
        data        = pd.concat([main, data], axis = 0)
        
        return data
            
    else:
        return 'Movie not Found'
    
name = input('Enter the movie name: ')

movie = df[df['name'] == name]

if movie.size == 0:
    movie = listmovie(name.lower())


recommendation_view(movie,'director',',')

In [ ]:
name = input('Enter the movie name: ')

movie = df[df['name'] == name]

if movie.size == 0:
    movie = listmovie(name.lower())


recommendation_view(movie,'name')

In [42]:
data

,0,1,2,3,4,5,6,7,8,9,...,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249
Roger Allam,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cheryl Hines,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Si√¢n Phillips,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jay Karnes,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Steven Pacey,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
df.iloc[:,7:].sum().sort_values(ascending=False).head(20)

Alfred Hitchcock      15
Steven Spielberg      13
Hayao Miyazaki        11
Martin Scorsese       10
Akira Kurosawa        10
Woody Allen            9
Stanley Kubrick        9
Billy Wilder           9
Clint Eastwood         8
Christopher Nolan      8
Quentin Tarantino      8
David Attenborough     8
David Fincher          8
Howard Hawks           7
Ingmar Bergman         7
Rob Reiner             7
Ridley Scott           6
Joel Coen              6
Alfonso Cuar√≥n         6
Sergio Leone           6
dtype: int64